.card {
    background-color: var(--text-color);;
    border-radius: 12px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    color: var(--bg-color);;
    width: 200px;
    transition: transform 0.2s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-4px);
}

.imageContainer {
    position: relative;
    height: 180px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.offerBadge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: crimson;
    color: white;
    font-size: 0.7rem;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: bold;
}

.content {
    padding: 10px 8px;
}

.title {
    font-size: 0.9rem;
    font-weight: 500;
    margin: 6px 0;
}

.price {
    font-size: 1rem;
    font-weight: bold;
}
