.topbarContainer {
  width: 100%;
  background-color: #100e14;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  position: relative;
  z-index: 100;
}

.topbarLeft,
.topbarCenter,
.topbarRight {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.topbarLeft {
  flex: 1;
}

.adminIcon{
  background-color: var(--bg-color);
  padding:.1rem;
  border-radius:.2rem;
  margin-left: 1rem;
}

.topbarCenter {
  flex: 1;
  justify-content: center;
}

.topbarRight {
  flex: 1;
  justify-content: flex-end;
  gap: 0.5rem;
}

.topbarLogo {
  height: 25px;
  filter: brightness(0) invert(1);
}

.topbarIcon {
  color: white;
  font-size: 1rem;
  padding:.1rem;
  border-radius:.2rem;
  margin-left: 1rem;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}

.topbarIcon:hover {
  color: #ccc; /* Cambia el color al pasar el mouse */
  transform: scale(1.2); /* Hace un leve zoom */
}

.topbarSignin,
.topbarRegister {
  padding: 0.25rem 0.75rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 0.8rem;
}

.topbarSignin {
  background-color: #e5e5e5;
  color: black;
}

.topbarRegister {
  background-color: #333;
  color: white;
}
