/* src/components/modals/registerModal.module.css */

.registerModal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.registerModal-container {
  background-color: #111;
  padding: 5%;
  border-radius: 2%;
  width: 80%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 0 2vw #000;
}

.registerModal-title {
  color: white;
  margin-bottom: 5%;
  font-size: 1.5em;
}

.registerModal-input {
  width: 100%;
  padding: 2.5%;
  margin: 2% 0;
  border: none;
  border-radius: 5%;
  font-size: 1em;
}

.registerModal-actions {
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  gap: 3%;
}

.registerModal-button {
  padding: 2.5%;
  border: none;
  border-radius: 5%;
  background-color: #ccc;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}

.registerModal-cancel {
  background-color: #ff4d4d;
  color: white;
}

.registerModal-error {
  color: red;
  font-size: 0.9em;
  margin-top: 2%;
}
