/* Modo claro (por defecto) */
body.light {
  --bg-color: #ffffff;
  --text-color: #1c1c1c;
}

/* Modo oscuro */
body.dark {
  --bg-color: #1c1c1c;
  --text-color: #ffffff;
}

/* Aplicar variables */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}